name: Hourly Playlist Update

on:
  schedule:
    - cron: '0 * * * *'  # Har ghante chalega
  workflow_dispatch:      # Manual button ke liye

# Isse queue ki problem solve hogi
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10   # Job 10 min se zyada nahi chalega
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python update_playlist.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add playlist.m3u
          git commit -m "Update playlist: $(date)" || exit 0
          git push
